<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.ssm.mapper.WXAccountMapper" >

	<!-- sql片断 -->
	<sql id="query_wxaccount_where">
		<if test="wxAccountCustom!=null">
			<if test="wxAccountCustom.nickname!=null and wxAccountCustom.nickname!=''">
				nickname like '%${wxAccountCustom.nickname}%'
			</if>
		</if>
	</sql>

	<!-- 微信账号列表查询 -->
	<!-- parameterType建议传入包装对象（包装了查询条件） resultType建议使用扩展对象-->
	<select id="findWXAccountList" parameterType="cn.itcast.ssm.po.WXAccountVo" resultType="cn.itcast.ssm.po.WXAccountCustom">
		select * from wxaccount
		<where>
			<include refid="query_wxaccount_where"></include>
		</where>
		
	</select>
	
	<select id="isBinded" parameterType="java.lang.String" resultType="int">
		select count(0) num from wxaccount a, wxacc_orguser_relation r where a.unionid = r.unionid and a.unionid=#{unionid}
	</select>
	
	<select id="getOrgidByUniqueid" parameterType="java.lang.String" resultType="java.lang.String">
		select id from orguser where uniqueid = #{uniqueid}
	</select>
	
	<!-- #{speId,jdbcType=INTEGER} -->
	<select id="getOrgidByUseridAndUniqueid" parameterType="java.util.Map" resultType="java.lang.String">
		select id from orguser where userid = #{userid} and uniqueid = #{uniqueid}
	</select>
</mapper>